// theme colors
$primary: #C89B42;
$secondary: #313131;
$success: #3BD297;
$info: #1980EC;
$warning: #FAA05A;
$danger: #EE4F6F;
$light: #F8F8F8;
$dark: #333333;
$background: #FFFFFF;
$body: #666666;
$link: #C99C3B;