@mixin hook-pagination-item(){
    width: 42px;
    text-align: center;
    border: $global-border-width solid $global-border;
    border-radius: 7px;
    padding: 9px 0;
    transition: all ease .5s;
    i {
        position: relative;
        top: -1px;
    }
}
@mixin hook-pagination-item-active(){
    background: $global-secondary-background;
    border-color: $global-border;
}
@mixin hook-pagination-item-hover(){
    transition: all ease .5s;
    background: #f8f8f8;
    border-color: darken($global-border, 5%);
}