$label-padding-vertical:                         5px;
$label-padding-horizontal:                       12px;
$label-background:                               $info;
$label-line-height:                              $global-line-height;
$label-font-size:                                0.813rem;
$label-color:                                    $global-inverse-color;

$label-success-background:                       $success;
$label-success-color:                            $global-inverse-color;
$label-warning-background:                       $warning;
$label-warning-color:                            $global-inverse-color;
$label-danger-background:                        $danger;
$label-danger-color:                             $global-inverse-color;